<div class="container-fluid wrap">
  <!-- Links Páginas -->
  <div class="switch grande" id="switcher-links">    
    <a href="/itc" class="page-buttons">ITC-19 3.0</a>
    <a href="/leitos" class="page-buttons">Leitos</a>
    <a href="/vacinacao" class="page-buttons">Vacinação</a>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var links = $('#switcher-links > a');
    for (var i = 0; i < links.length; i++) {
      var link = links[i];
      if (link.href === window.location.href) {
        $(link).addClass('bg-green');
      }
    }
  });
</script>

