<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <img src="../img/okbr.png" alt="">
          <!-- <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul> -->
        </div>
        <div class="footer-creative-commons">
          <a rel="license" href="https://creativecommons.org/licenses/by/4.0"><img class="img-creative-commons" alt="Licença Creative Commons" src="https://licensebuttons.net/l/by/4.0/88x31.png" /></a><br /><br>Todo o conteúdo do site Transparência Covid-19 está disponível sob a licença <a rel="license" href="https://creativecommons.org/licenses/by/4.0">Creative Commons Atribuição 4.0 Internacional</a>, <br>o que significa que pode ser compartilhado e reutilizado para trabalhos derivados, desde que citada a fonte.
        </div>
        <!-- <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p> -->
      </div>
    </div>
  </div>
</footer>
