<div class="container-fluid wrap">
  <!-- Links Páginas -->
  <div class="switch grande">
    <a href="/" class="page-buttons">Monitor de Leitos</a>
    <!-- <a href="/vacinacao" class="page-buttons">Monitor da Vacinação</a> -->
    <a href="/itc" class="page-buttons bg-green">ITC 3.0</a>
  </div>
</div>

<article id="itc-3">
  <div class="container-fluid wrap mt2 mb2">
    <section class="row">
      <div class="col-xs-12">
        <h3 class="t7 tcp w300 mb2"><strong>A terceira fase</strong> do Índice de Transparência da Covid-19 está chegando!</h3>
      </div>
      <div class="col-xs-12 col-sm-10">
        <p class="t3 w400 lh1-50">Em junho, a Open Knowledge Brasil inicia a terceira fase do Índice de Transparência da Covid-19 (ITC-19). Depois de avaliar a abertura de dados epidemiológicos e de infraestrutura de saúde de abril a dezembro de 2020 — primeiro em estados e governo federal, a partir de julho, nas capitais — o ITC-19 vai incorporar também os dados da vacinação.</p>
        <p class="t3 w400 lh1-50">Todos os <a href="/boletions">boletins das avaliações anteriores</a> seguem disponíveis, assim como os rankings e mapas de cada edição (acesse as versões <a href="/v1">1.0</a> e <a href="/v2">2.0</a>).</p>
        <p class="t3 w400 lh1-50">Fique de olho!</p>
      </div>
    </section>
  </div>
</article>
