<!-- Gestor -->
<article id="gestor">
    <div class="container-fluid wrap">
        <div class="row middle-xs">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h3 class="t7 tcp w700 ls1">Gestor</h3>
                <p class="t6 tcb w400 mb2 mb0-md">Precisa de ajuda para abrir seus dados?</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1 tc">
                <a href="./sobre.html#contato" class="btn btn-branco">Entre em contato</a>
            </div>
        </div>
    </div>
</article>
