<header class="top-bar">
    <nav class="container-fluid wrap">
        <input type="checkbox" class="btn-menu">
        <ul>
            <img class="anm" data-speed-x="-0.5" data-speed-y="1" data-speed-scale="1" data-speed-rotate="1" src="./assets/images/corona-magenta.png">
            <img class="anm" data-speed-x="2" data-speed-y="-1" data-speed-scale="1" data-speed-rotate="1" src="./assets/images/corona-verde.png">
            <li><a href="./" class="ativo">Inicio</a></li>
            <li><a href="./boletins.html">Boletins</a></li>
            <li><a href="./midia.html">Na mídia</a></li>
            <li><a href="./metodologia.html">Metodologia</a></li>
            <li>
                <input type="checkbox" name="dropdown" id="dropdown-bases">
                <label for="dropdown-bases">Bases de dados</label>
                <ul>
                    <li><a href="https://docs.google.com/spreadsheets/d/1Ol_cMNdOA90hndREuGjkKler1xbmsLksWQAuZmJpBJE/edit?usp=sharing" target="_blank" >Estados</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1nX-jt-dgQ1Q5Ke9zXr-dQxC9lAxQy0Zac8WHCyb3zKc/edit?usp=sharing" target="_blank" >Capitais</a></li>
                </ul>
            </li>
            <li><a href="./toolkits.html">Toolkits</a></li>
            <li><a href="./entrevistas.html">Entrevistas</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
            <li>
                <input type="checkbox" name="dropdown" id="dropdown-versao">
                <label for="dropdown-versao">Versão anterior</label>
                <ul>
                    <li><a href="./v1">Mapa</a></li>
                    <li><a href="https://transparenciacovid19.ok.org.br/files/Nota_Metodologica_Transparencia_da_Covid-19V.3.pdf" target="_blank">Metodologia</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/18z8H9sR13HDQ007kCKJRJ_Y9gNCacjHRPW9j28aRlUk/edit#gid=793093003" target="_blank">Base de dados</a></li>
                </ul>
            </li>
        </ul>
        <div class="logo-wrapper">
            <a href="https://www.ok.org.br/" target="_blank" class="logo"></a>
        </div>
    </nav>
</header>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    /* Scroll */
    var posScroll = 0;

    function checarScroll() {
      posAtual = $(window).scrollTop();
      if (posAtual != 0) {
        $("body").addClass('scrolled');
        if (posAtual >= posScroll) {
          posScroll = posAtual;
          $("body").removeClass('scrollup');
          $('.top-bar input').prop('checked', false);
        } else {
          posScroll = posAtual;
          $("body").addClass('scrollup');
        }
      } else {
        $("body").removeClass('scrolled').removeClass('scrollup');
      }
    }
    checarScroll();
    $(window).scroll(function() {
      checarScroll();
      $(".tooltip").removeClass('ativo');
    });
  });
</script>
