<style>
    .covid_header, .covid_alto, .covid_medio, .covid_baixo, .covid_opaco{border:solid #ffffff 0.5pt;vertical-align:middle;padding:2pt;}
    .covid_header{background-color:#666666;}
    .paragrafo{line-height:1.5;text-align:center;margin:0.5pt;font-family:Verdana; font-size:11pt; vertical-align:center; white-space:pre-wrap}
    .spanparagrafo{color:#ffffff;}
    .covid_spanparagrafo2{color:#666666;}
    .covid_header{background-color:#666666;}
    .covid_alto{background-color:#4dac26;}
    .covid_bom{background-color:#b8e186;}
    .covid_medio{background-color:#f7f7f7;}
    .covid_baixo{background-color:#f1b6da;}
    .covid_opaco{background-color:#d01c8b;}
    </style>

<table >
    <colgroup>
        <col width="12%">
        <col width="38%">
        <col width="12%">
        <col width="12%">
        <col width="12%">
    </colgroup>
    <tbody>
        <tr>
            <td class="covid_header">
            <p class="paragrafo"><span class="spanparagrafo">Posição</span></p>
            </td>
            <td class="covid_header">
            <p class="paragrafo"><span class="spanparagrafo">Estado</span></p>
            </td>
            <td class="covid_header">
            <p class="paragrafo"><span class="spanparagrafo">Sigla</span></p>
            </td >
            <td class="covid_header">
            <p class="paragrafo"><span class="spanparagrafo">Pont.</span></p>
            </td>
            <td class="covid_header">
            <p class="paragrafo"><span class="spanparagrafo">Nível</span></p>
            </td>
        </tr>
        <tr>
            <td class="covid_alto">
            <p class="paragrafo"><span class="spanparagrafo">1</span></p>
            </td>
            <td class="covid_alto">
            <p class="paragrafo"><span class="spanparagrafo">Pernambuco</span></p>
            </td>
            <td class="covid_alto">
            <p class="paragrafo"><span class="spanparagrafo">PE</span></p>
            </td>
            <td class="covid_alto">
            <p class="paragrafo"><span class="spanparagrafo">81</span></p>
            </td>
            <td class="covid_alto">
            <p class="paragrafo"><span class="spanparagrafo">Alto</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">2</span></p>
            </td>
            <td class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Ceará</span></p>
            </td>
            <td class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">CE</span></p>
            </td>
            <td class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">69</span></p>
            </td>
            <td rowspan="2" class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Bom</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">3</span></p>
            </td>
            <td class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Rio de Janeiro</span></p>
            </td>
            <td class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">RJ</span></p>
            </td>
            <td class="covid_bom">
            <p class="paragrafo"><span class="covid_spanparagrafo2">64</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">4</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Tocantins</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">TO</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">50</span></p>
            </td>
            <td rowspan="5" class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Médio</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">5</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Minas Gerais</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">MG</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">48</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">6</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Maranhão</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">MA</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">45</span></p>
            </td>
        </tr>
        <tr style="height:18pt">
            <td class="covid_medio"></td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Mato Grosso do Sul</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">MS</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">45</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">7</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Roraima</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">RR</span></p>
            </td>
            <td class="covid_medio">
            <p class="paragrafo"><span class="covid_spanparagrafo2">40</span></p>
            </td>
        </tr>
        <tr style="height:20.25pt">
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">8</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Rio Grande do Sul</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">RS</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">36</span></p>
            </td>
            <td rowspan="12" class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Baixo</span></p>
            </td>
        </tr>
        <tr style="height:20.25pt">
            <td class="covid_baixo"></td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2"><em>Governo Federal*</em></span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">União</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">36</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">9</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Alagoas</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">AL</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">33</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo"></td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Bahia</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">BA</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">33</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">10</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Mato Grosso</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">MT</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">31</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo"></td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">São Paulo</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">SP</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">31</span></p>
            </td>
        </tr>
        <tr style="height:18pt">
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">11</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Rio Grande do Norte</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">RN</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">29</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">12</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Distrito Federal</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">DF</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">21</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo"></td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Piauí</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">PI</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">21</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">13</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Amazonas</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">AM</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">17</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">14</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Acre</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">AC</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">14</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_baixo"></td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">Goiás</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">GO</span></p>
            </td>
            <td class="covid_baixo">
            <p class="paragrafo"><span class="covid_spanparagrafo2">14</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">15</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Amapá</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">AP</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">10</span></p>
            </td>
            <td rowspan="8" class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Opaco</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_opaco"></td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Espírito Santo</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">ES</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">10</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_opaco"></td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Paraíba</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">PB</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">10</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_opaco"></td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Paraná</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">PR</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">10</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_opaco"></td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Santa Catarina</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">SC</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">10</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_opaco"></td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Sergipe</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">SE</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">10</span></p>
            </td>
        </tr>
        <tr>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">16</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Pará</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">PA</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">0</span></p>
            </td>
        </tr>
        <tr >
            <td class="covid_opaco"></td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">Rondônia</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">RO</span></p>
            </td>
            <td class="covid_opaco">
            <p class="paragrafo"><span class="spanparagrafo">0</span></p>
            </td>
        </tr>
    </tbody>
</table>