<!DOCTYPE html>
<html>
<style>
.covid_header, .covid_alto,.covid_bom, .covid_medio, .covid_baixo, .covid_opaco{border:solid #ffffff 0.2px;border-radius: 2px;vertical-align:middle;padding:1px 5px;line-height:1.5;text-align:center;margin:0.5pt; font-size:11pt;}
.covid_header:hover, .covid_alto:hover,.covid_bom:hover, .covid_medio:hover, .covid_baixo:hover, .covid_opaco:hover{box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);}
.covid_header{background-image:linear-gradient(rgba(40,40,40,1),rgba(40,40,40,0.8));color:#ffffff;}/*#666666*/
.covid_alto{background-image:linear-gradient(rgba(72,172,38,0.8),rgba(72,172,38,1));color:#ffffff;}/*#4dac26;*/
.covid_bom{background-image:linear-gradient(rgba(184,225,134,0.7),rgba(184,225,134,1));color:#666666;}/*b8e186*/
.covid_medio{background-image:linear-gradient(rgba(247,247,247,0.6),rgba(247,247,247,1));color:#666666;}/*f7f7f7*/
.covid_baixo{background-image:linear-gradient(rgba(241,182,218,0.6),rgba(241,182,218,0.8));color:#666666;}/*f1b6da*/
.covid_opaco{background-image:linear-gradient(rgba(208,28,139,0.8),rgba(208,28,139,1));color:#ffffff;}/*d01c8b*/
</style>
<body>
<div>
<table >
    <colgroup>
        <col width="11%">
        <col width="36%">
        <col width="11%">
        <col width="11%">
        <col width="11%">

    </colgroup>
    <tbody>
        <tr>
            <td class="covid_header">
            <p >Posição</p>
            </td>
            <td class="covid_header">
            <p >Estado</p>
            </td >
            <td class="covid_header">
            <p >Pont.</p>
            </td>
            <td class="covid_header">
            <p >Variação</p>
            </td>
            <td class="covid_header">
            <p >Nível</p>
            </td>
        </tr>
        <tr><td class="covid_alto"><p >1</p></td>

        <td class="covid_alto"><p >Pernambuco (PE)</p></td>

        <td class="covid_alto"><p >90</p></td>

    <td class="covid_alto"><p >9</p></td>

    <td class="covid_alto"><p >Alto</p></td></tr>   
    <tr><td class="covid_bom"><p >2</p></td>
<td class="covid_bom"><p >Maranhão (MA)</p></td>
<td class="covid_bom"><p >71</p></td>
<td class="covid_bom"><p >26</p></td>
<td class="covid_bom"><p >Bom</p></td></tr> 
<tr><td class="covid_bom"><p >3</p></td>
<td class="covid_bom"><p >São Paulo (SP)</p></td>
<td class="covid_bom"><p >69</p></td>
<td class="covid_bom"><p >38</p></td>
<td class="covid_bom"><p >Bom</p></td></tr> 
<tr><td class="covid_bom"><p >4</p></td>
<td class="covid_bom"><p >Rio de Janeiro (RJ)</p></td>
<td class="covid_bom"><p >62</p></td>
<td class="covid_bom"><p >-2</p></td>
<td class="covid_bom"><p >Bom</p></td></tr> 
<tr><td class="covid_bom" rowspan="2"><p >5</p></td>
<td class="covid_bom"><p >Rio Grande do Norte (RN)</p></td>
<td class="covid_bom"><p >60</p></td>
<td class="covid_bom"><p >31</p></td>
<td class="covid_bom"><p >Bom</p></td></tr> 
<tr>
<td class="covid_bom"><p >Ceará (CE)</p></td>
<td class="covid_bom"><p >60</p></td>
<td class="covid_bom"><p >-9</p></td>
<td class="covid_bom"><p >Bom</p></td></tr> 
<tr><td class="covid_medio"><p >6</p></td>
<td class="covid_medio"><p >Rio Grande do Sul (RS)</p></td>
<td class="covid_medio"><p >55</p></td>
<td class="covid_medio"><p >19</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr><td class="covid_medio"><p >7</p></td>
<td class="covid_medio"><p ><i>Governo Federal*</i></p></td>
<td class="covid_medio"><p >52</p></td>
<td class="covid_medio"><p >16</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr><td class="covid_medio" rowspan="2"><p >8</p></td>
<td class="covid_medio"><p >Tocantins (TO)</p></td>
<td class="covid_medio"><p >48</p></td>
<td class="covid_medio"><p >-2</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr>
<td class="covid_medio"><p >Minas Gerais (MG)</p></td>
<td class="covid_medio"><p >48</p></td>
<td class="covid_medio"><p >0</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr><td class="covid_medio" rowspan="2"><p >9</p></td>
<td class="covid_medio"><p >Mato Grosso do Sul (MS)</p></td>
<td class="covid_medio"><p >43</p></td>
<td class="covid_medio"><p >-2</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr>
<td class="covid_medio"><p >Mato Grosso (MT)</p></td>
<td class="covid_medio"><p >43</p></td>
<td class="covid_medio"><p >12</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr><td class="covid_medio" rowspan="3"><p >10</p></td>
<td class="covid_medio"><p >Roraima (RR)</p></td>
<td class="covid_medio"><p >40</p></td>
<td class="covid_medio"><p >0</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr>
<td class="covid_medio"><p >Paraíba (PB)</p></td>
<td class="covid_medio"><p >40</p></td>
<td class="covid_medio"><p >30</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr>
<td class="covid_medio"><p >Amazonas (AM)</p></td>
<td class="covid_medio"><p >40</p></td>
<td class="covid_medio"><p >23</p></td>
<td class="covid_medio"><p >Médio</p></td></tr> 
<tr><td class="covid_baixo"><p >11</p></td>
<td class="covid_baixo"><p >Rondônia (RO)</p></td>
<td class="covid_baixo"><p >38</p></td>
<td class="covid_baixo"><p >38</p></td>
<td class="covid_baixo"><p >Baixo</p></td></tr> 
<tr><td class="covid_baixo"><p >12</p></td>
<td class="covid_baixo"><p >Bahia (BA)</p></td>
<td class="covid_baixo"><p >33</p></td>
<td class="covid_baixo"><p >0</p></td>
<td class="covid_baixo"><p >Baixo</p></td></tr> 
<tr><td class="covid_baixo"><p >13</p></td>
<td class="covid_baixo"><p >Alagoas (AL)</p></td>
<td class="covid_baixo"><p >31</p></td>
<td class="covid_baixo"><p >-2</p></td>
<td class="covid_baixo"><p >Baixo</p></td></tr> 
<tr><td class="covid_baixo"><p >14</p></td>
<td class="covid_baixo"><p >Piauí (PI)</p></td>
<td class="covid_baixo"><p >29</p></td>
<td class="covid_baixo"><p >8</p></td>
<td class="covid_baixo"><p >Baixo</p></td></tr> 
<tr><td class="covid_baixo"><p >15</p></td>
<td class="covid_baixo"><p >Distrito Federal (DF)</p></td>
<td class="covid_baixo"><p >26</p></td>
<td class="covid_baixo"><p >5</p></td>
<td class="covid_baixo"><p >Baixo</p></td></tr> 
<tr><td class="covid_baixo"><p >16</p></td>
<td class="covid_baixo"><p >Paraná (PR)</p></td>
<td class="covid_baixo"><p >24</p></td>
<td class="covid_baixo"><p >14</p></td>
<td class="covid_baixo"><p >Baixo</p></td></tr> 
<tr><td class="covid_opaco"><p >17</p></td>
<td class="covid_opaco"><p >Goiás (GO)</p></td>
<td class="covid_opaco"><p >19</p></td>
<td class="covid_opaco"><p >5</p></td>
<td class="covid_opaco"><p >Opaco</p></td></tr> 
<tr><td class="covid_opaco"><p >18</p></td>
<td class="covid_opaco"><p >Santa Catarina (SC)</p></td>
<td class="covid_opaco"><p >17</p></td>
<td class="covid_opaco"><p >7</p></td>
<td class="covid_opaco"><p >Opaco</p></td></tr> 
<tr><td class="covid_opaco"><p >19</p></td>
<td class="covid_opaco"><p >Acre (AC)</p></td>
<td class="covid_opaco"><p >14</p></td>
<td class="covid_opaco"><p >0</p></td>
<td class="covid_opaco"><p >Opaco</p></td></tr> 
<tr><td class="covid_opaco"><p >20</p></td>
<td class="covid_opaco"><p >Sergipe (SE)</p></td>
<td class="covid_opaco"><p >12</p></td>
<td class="covid_opaco"><p >2</p></td>
<td class="covid_opaco"><p >Opaco</p></td></tr> 
<tr><td class="covid_opaco" rowspan="2"><p >21</p></td>
<td class="covid_opaco"><p >Espírito Santo (ES)</p></td>
<td class="covid_opaco"><p >10</p></td>
<td class="covid_opaco"><p >0</p></td>
<td class="covid_opaco"><p >Opaco</p></td></tr> 
<tr></td>
<td class="covid_opaco"><p >Amapá (AP)</p></td>
<td class="covid_opaco"><p >10</p></td>
<td class="covid_opaco"><p >0</p></td>
<td class="covid_opaco"><p >Opaco</p></td></tr> 
<tr><td class="covid_opaco"><p >22</p></td>
<td class="covid_opaco"><p >Pará (PA)</p></td>
<td class="covid_opaco"><p >0</p></td>
<td class="covid_opaco"><p >0</p></td>
<td class="covid_opaco"><p >Opaco</p></td></tr>
    </tbody>
</table>
</div>