<div class="container-fluid wrap">
  <!-- Links Páginas -->
  <div class="switch grande">
    <a href="/" class="page-buttons">Monitor de Leitos</a>
    <a href="/vacinacao" class="page-buttons bg-green">Monitor da Vacinação</a>
    <a href="/itc" class="page-buttons">ITC 3.0</a>
  </div>
</div>

<article id="itc-3">
  <div class="container-fluid wrap mt2 mb2">
    <div class="row">
      <section class="col-xs-12">
        <h3 class="t7 tcp w300"><strong>Monitor da Vacinação</strong> da Covid-19</h3>
        <p class="t2 uc tcc w400 mb2 ff2">Lorem Ipsum</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
    </div>
  </div>
</article>
